<p id="notice"><%= notice %></p>

<h1>Watchings</h1>

<ul id="watchings-list">
    <% @watchings.each do |watching| %>
      <li class="watchings-item" style="background-color: <%= cycle yo_colors %>">
        <%= shorten_text watching.url %>
      </li>
    <% end %>
</ul>
